<h2>My tasks</h2>
<button class="btn btn-primary" (click)="selectedTaskNew(); isNew=true;" data-toggle="modal" data-target="#basicModal">Add new</button>
<div class="table-responsive">
  <table id="tasks-table" class="table table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Task title</th>
        <th>Is done?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.title }}</td>
        <td [ngClass]="task.isDone ? 'bg-success' : 'bg-danger'">{{ task.isDone ? "Done" : "Not yet" }}</td>
        <td>
          <a class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#basicModal"  (click)="selectedTask=task; isNew=false;"></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-task-detail [task]="selectedTask" [isNew]="isNew"></app-task-detail>
